#Inicio {
    text-decoration: none;
    color: black;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
    size: 20px;
}

body {
    text-decoration: none;
    background-color: #d8dddb;
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.TituloPrincipal {
    font-family: "Wix Madefor Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 50px;
    background-color: white;
    width: 95%;
    margin: 30px auto;
    height: auto;
    box-sizing: border-box;
    border-style: solid;
    border-width: 4px;
    border-color: rgb(55, 55, 55);
    border-radius: 15px;
  }

#Tipos {
    font-family: "Wix Madefor Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    }

  #Contexto {
    justify-content: center;
    background-color: #e3e3c0;
    align-items: center;
    padding: 15px;
    border-style: solid;
    border-width: 4px;
    border-color: rgb(0, 0, 0);
    border-radius: 40px;
    width: 70%;
    margin: auto;
    height: auto;
    font-family: "Wix Madefor Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    color:rgb(0, 0, 0);
}

h2 {
    font-size: 35px;
    font-family: "Wix Madefor Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    background-color: #C4E6FF;
    height: 70px;
    align-content: center;
}

.Test {
    margin: 30px 0 0 0;
    display: grid;
    justify-content: center;
    grid-template-columns: 45% 45%;
    gap: 15px;
    border-radius:10px;
}

.box1 {
    background: #2e3785;
    border-radius: 15px;
    border:2px solid #fff;
    height: auto 350px;
  }

  .box1 h3{
    color: aliceblue;
    font-size:auto;
    text-align: center;
    margin-top: 10px;
    padding: 5px;

  }
  @media (max-width: 700px) {
    .Test {
      grid-template-columns: minmax(100px, 80%);
    }
  }

.fotoFuncionamiento img {
    width: 70%;
    height: 30%;
    align-items: center;
}

.Foto {
  border: 3px solid black;
  border-radius: 20px;
  justify-content: center;
  align-items: center; 
}
#CuerpoEntero {
  background-color: white;
  margin: auto;
  width: 90%;
  height: 500px;
  align-items: center;
}

@media (max-width: 700px) {
  #CuerpoEntero {
    height: 850px;
  }
}


.Pre {
  font-size: 6px;
}

