#Inicio {
    text-decoration: none;
    color: black;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
    size: 20px;
}

body {
    text-decoration: none;
    background-color: #d8dddb;
    text-align: center;
}

.TituloPrincipal {
    font-family: "Wix Madefor Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 50px;
    background-color: white;
    width: 95%;
    margin: 30px auto;
    height: auto;
    box-sizing: border-box;
    border-style: solid;
    border-width: 4px;
    border-color: rgb(55, 55, 55);
    border-radius: 15px;
  }

#Tipos {
    font-family: "Wix Madefor Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    }

  #Contexto {
    justify-content: center;
    background-color: #e3e3c0;
    align-items: center;
    padding: 15px;
    border-style: solid;
    border-width: 4px;
    border-color: rgb(0, 0, 0);
    border-radius: 40px;
    width: 70%;
    margin: auto;
    height: auto;
    font-family: "Wix Madefor Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    color:rgb(0, 0, 0);
}

#Tabla {
    background-color: white;
    width: 85%;
    margin: auto;
    height: auto;
   table-layout: auto;
   border-collapse: collapse;
   border: 3px solid black;
   display: flex;
   flex-direction: column;
}

h2 {
    text-align: center;
    font-size: 30px;
    font-family: "Wix Madefor Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    background-color: #C4E6FF; 
    padding: 30px; 
    height: auto;
    width: 85%;
    margin: auto;
    margin-top: 60px;
}

