
#Inicio {
    text-decoration: none;
    color: black;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
    size: 20px;
    text-align: center;
}

body {
    text-decoration: none;
    background-color: #d8dddb;
    margin: 0;
}

#Disfruta {
    justify-content: center;
    background-color: #e1985f;
    align-items: center;
    padding: 15px;
    border-style: solid;
    border-width: 4px;
    border-color: rgb(0, 0, 0);
    border-radius: 40px;
    width: 70%;
    margin: auto;
    height: auto;
    font-family: "Wix Madefor Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 25px;
    color:rgb(0, 0, 0);
    margin-top: 50px;
    margin-bottom: 60px;
    text-align: center;
}

.TituloPrincipal {
    font-family: "Wix Madefor Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 50px;
    background-color: white;
    width: 95%;
    margin: auto;
    margin-bottom: 30px;
    height: auto;
    box-sizing: border-box;
    border-style: solid;
    border-width: 4px;
    border-color: rgb(55, 55, 55);
    border-radius: 15px;
    text-align: center;
    margin-top: 20px;
  }

#Tipos {
    font-family: "Wix Madefor Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    }

#Contexto {
    justify-content: center;
    background-color: #e3e3c0;
    align-items: center;
    padding: 15px;
    border-style: solid;
    border-width: 4px;
    border-color: rgb(0, 0, 0);
    border-radius: 40px;
    width: 70%;
    margin: auto;
    height: auto;
    font-family: "Wix Madefor Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    color:rgb(0, 0, 0);
    text-align: center;
}

h2 {
    font-size: 3vw;
    font-family: "Wix Madefor Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    background-color: #C4E6FF;
    height: 100px;
    align-content: center;
    border-top: 5px solid black;
    text-align: center;
    padding-top: 40px;
}

.Test {
    margin: 30px 0 0 0;
    display: grid;
    justify-content: center;
    grid-template-columns: 45% 45%;
    gap: 15px;
    border-radius:10px;
    text-align: center;
}

.box1 {
    background: #2e3785;
    border-radius: 15px;
    border:3px solid #626262;
    height: auto 350px;
    font-family: "Wix Madefor Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    justify-content: center;
    align-items: center;
    align-self: center auto;
    
  }

  .box1 h3{
    color: aliceblue;
    font-size:auto;
    text-align: center;
    margin-top: 10px;
    padding: 5px;
    margin-bottom: -10px;

  }
  

.Texto {
  font-weight: 500;
    font-size: 1.4vw;
    text-align: center;
    margin-top: 7%;
    margin-left: 5%;
    margin-right: 5%;
    color: rgb(228, 228, 228);
    /* Tipo de Letra*/
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.fotoFuncionamiento img {
    width: 73%;
    height: 35%;
    align-items: center;
}

.Foto {
  border: 3px solid black;
  border-radius: 20px;
  justify-content: center;
  align-items: center; 
}
#CuerpoEntero {
  background-color: rgb(144, 144, 144);
  margin: auto;
  width: 80%;
  height: auto;
  align-items: center;
  border-left: 5px solid black;
  border-bottom:5px solid black;
  border-right:5px solid black;
  border-radius: 0px 0px 20px 20px;
  padding-bottom: 20px;
}

.SubTitulo {
  font-size: 2vw;
}

.SubSubTitulo {
  font-size: 1.6vw;
  color: #161616;
}

.EspaciadorAbajo {
  margin-bottom: 60px;
}

.Espaciador {
  padding-top:30px ;
}

@media (max-width: 1200px) {
  .Texto {
    font-size: 1.5vw;
  }
  .SubTitulo {
    font-size: 3vw;
  }
  h2 {
    font-size: 4vw;
  }
}

@media (max-width: 900px) {
  h2 {
    font-size: 5vw;
  }
}

@media (max-width: 800px) {
  h2 {
    font-size: 6vw;
  }
}

@media (max-width: 700px) {
  .SubTitulo {
    font-size: 6vw;
  }
  #CuerpoEntero {
    height: 97%;
  }
  .Texto {
    font-size: 3.5vw;
  }
  .Test {
    grid-template-columns: minmax(100px, 80%);
  }
  .box1 {
    height: auto 350px;
  }
  .SubSubTitulo {
    font-size: 2vw;
  }
  h2 {
    height: 12vw;
    font-size: 6vw;
    padding-top: 20px;
  }
}


@media (max-width: 535px) {
  .SubSubTitulo {
    font-size: 4vw;
  }
  h2 {
    height: 14vw;
  }
}

@media (max-width: 450px) {
  h2 {
    font-size: 8vw;
  }
}

.Pre {
  font-size: 6px;
}

