#Inicio {
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 10px;
}

#Contexto {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 20px;
    width: 80%;
    margin: 0 auto;
    height: auto;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.merriweather-sans-header-title {
    font-family: "Merriweather Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

.ImagenPrincipal {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
}

.fa-brands {
    font-size: 25px;
    margin: 4px;
    color: black;
    text-decoration: none;
}

body {
    background-color: lightblue;
}
